<div class="container">
  <br /><br /><br />
  <div class="row">
    <div class="col col-12 col-sm-2"></div>
    <div class="col col-12 col-sm-8 border border-secondary rounded">
      <br /><br /><br />
      <h1 class="text-center">SURVEY FORM</h1>
      <br /><br />
      <!-- Form starts -->
      <form class="form-horizontal" [formGroup]="surveyForm" #f>
        <mat-accordion class="surveyFormView">
          <!-- Surveyor Details -->
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Surveyor:</h5>
              </mat-panel-title>
              <mat-panel-description> <em> Please fill in the details of the surveyor here</em></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container">
              <div class="row">
                <!-- Surveyor name -->
                <div class="col col- col-sm-12">
                  <label>Name:</label>
                  <input type="text" class="form-control" formControlName="sname" />
                </div>
                <!-- Designation -->
                <div class="col col- col-sm-6">
                  <label>Designation:</label>
                  <input type="text" class="form-control" formControlName="sdesig" />
                </div>
                <!-- Date -->
                <div class="col col- col-sm-6">
                  <label>Date:</label>
                  <input type="date" class="form-control" formControlName="sdate" />
                </div>
              </div>
            </div>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>
          <br />
          <!-- Surveyee Details -->
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Surveyee:</h5>
              </mat-panel-title>
              <mat-panel-description> <em> Please fill in the identification details of the surveyee here</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="group-gap">
              <!-- Surveyee name -->
              <div class="container">
                <div class="row">
                  <div class="col col- col-sm-12">
                    <label>Name:</label>
                    <input type="text" class="form-control" formControlName="pname" />
                  </div>

                  <!-- Age -->
                  <div class="col col- col-sm-4">
                    <label>Age:</label>
                    <input type="text" class="form-control" formControlName="pge" />
                  </div>

                  <!-- Aadhar -->
                  <div class="col col- col-sm-8">
                    <label>Aadhar no:</label>
                    <input type="text" class="form-control" formControlName="padhr" />
                  </div>
                  <!-- Housename -->
                  <div class="col col- col-sm-12">
                    <label>Housename:</label>
                    <input type="text" class="form-control" formControlName="phname" />
                  </div>
                  <!-- ward -->
                  <div class="col col- col-sm-6">
                    <label>Ward:</label>
                    <input type="text" class="form-control" formControlName="pward" />
                  </div>

                  <!-- Panchayath -->
                  <div class="col col- col-sm-6">
                    <label>Panchayath:</label>
                    <input type="text" class="form-control" formControlName="ppnchyth" />
                  </div>
                  <!-- Thaluk -->
                  <div class="col col- col-sm-6">
                    <label>Thaluk:</label>
                    <input type="text" class="form-control" formControlName="pthlk" />
                  </div>
                  <!-- District -->
                  <div class="col col- col-sm-6">
                    <label>District:</label>
                    <input type="text" class="form-control" formControlName="pdstrct" />
                  </div>
                </div>
              </div>
            </div>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>
          <br />
          <!-- Surveyee Contact Details -->
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Contact Details:</h5>
              </mat-panel-title>
              <mat-panel-description> <em> Please fill in the contact details of the surveyee here</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="group-gap">
              <!-- Mobile no: -->
              <div class="container">
                <div class="row">
                  <div class="col col- col-sm-4">
                    <label>Mobile no:</label>
                    <input type="text" class="form-control" formControlName="pmob" />
                  </div>
                  <!-- EmailID -->
                  <div class="col col- col-sm-8">
                    <label>Email:</label>
                    <input type="text" class="form-control" formControlName="pmail" />
                  </div>
                </div>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <br />




          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Casualities</h5>
              </mat-panel-title>
              <mat-panel-description> <em> Please enter the details of casualities if any, here</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Add Children-->
            <div class="group-gap">

              <ng-container *ngFor="
                      let item of surveyForm.controls['casualities'].controls;
                      let i = index
                    ">

                <div [formGroup]="item">
                  <div class="container">
                    <div class="row">
                      <div class="col col- col-sm-6">
                        <!-- <label>Status</label>
                        <select class="custom-select d-block w-100" formControlName="casStatus">
                          <option id="casStatus" value="">Choose...</option>
                          <option *ngFor="let casStatus of CasualityStatuses" [ngValue]="casStatus">{{casStatus}}
                          </option>
                        </select> -->



                        <mat-form-field>
                          <mat-label>status</mat-label>
                          <mat-select [value]="['casStatus']" formControlName="casStatus">
                            <mat-option>None</mat-option>
                            <mat-option value="">select</mat-option>
                            <mat-option value="deceased">Deceased</mat-option>
                            <mat-option value="injured">Injured</mat-option>
                            <mat-option value="missing">Missing</mat-option>
                          </mat-select>
                        </mat-form-field>

                      </div>
                      <!-- Relation to casuality -->
                      <div class="col col- col-sm-6">
                        <label>Relation to casuality:</label>
                        <input type="text" class="form-control" formControlName="casRln" />
                      </div>
                    </div>

                  </div>
                </div>
                <br />

                <div class="col col- col-sm-8">
                  <button mat-button color="warn" (click)="removeCasualityControl(i)">
                    Remove Entry
                  </button>
                  <hr />
                </div>
              </ng-container>

            </div>
            <mat-action-row>

              <button mat-button color="primary" (click)="addChildrenCasuality()">
                Add Entry
              </button>

              <div>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </div>
            </mat-action-row>
          </mat-expansion-panel>
          <br />







          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Children Details</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Add Children-->
            <div class="group-gap">
              <div>
                <button type="button" class="btn btn-info mb-3 " (click)="addChildren()">
                  Add Children
                </button>
                <hr />
                <ng-container *ngFor="
                    let item of surveyForm.controls['children'].controls;
                    let i = index
                  ">
                  <div [formGroup]="item">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="cname" />
                    <label>Age</label>
                    <input type="text" class="form-control" formControlName="cge" />
                    <br />
                    <button type="button" class="btn btn-info mb-3 " (click)="removeFormControl(i)">
                      remove formGroup
                    </button>
                    <hr />
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-expansion-panel>
          <br />
          <button (click)="onSubmit(f)" class="btn btn-success btn-lg btn-block">
            Submit
          </button>
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Submit</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="group-gap">
              <button (click)="onSubmit(f)" class="btn btn-success btn-lg btn-block">
                Submit
              </button>
            </div>
          </mat-expansion-panel> -->
        </mat-accordion>
      </form>
      <br /><br />
    </div>
    <div class="col col-12 col-sm-2"></div>
  </div>
</div>
