<div class="container">
  <br /><br /><br />
  <div class="row">
    <div class="col col-12 col-sm-2"></div>
    <div class="col col-12 col-sm-8 border border-secondary rounded">
      <br /><br /><br />
      <h1 class="text-center">SURVEY FORM</h1>
      <br /><br />
      <!-- Form starts -->
      <form class="form-horizontal" [formGroup]="surveyForm" #f>
        <mat-accordion class="surveyFormView">
          <!-- Surveyor Details -->
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Surveyor:</h5>
              </mat-panel-title>
              <mat-panel-description>
                <em>
                  Please enter the details of the surveyor here</em></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container">
              <div class="row">
                <!-- Surveyor name -->
                <div class="col col- col-sm-12">
                  <label>Name:</label>
                  <input type="text" class="form-control" formControlName="sname" />
                </div>
                <!-- Designation -->
                <div class="col col- col-sm-6">
                  <label>Designation:</label>
                  <input type="text" class="form-control" formControlName="sdesig" />
                </div>
                <!-- Date -->
                <div class="col col- col-sm-6">
                  <label>Date:</label>
                  <input type="date" class="form-control" formControlName="sdate" />
                </div>
                <!-- Disaster code -->
                <div class="col col- col-sm-6">
                  <label>Disaster code:</label>
                  <input type="text" class="form-control" formControlName="dcode" />
                </div>
                <!-- Disaster place -->
                <div class="col col- col-sm-6">
                  <label>Place:</label>
                  <input type="text" class="form-control" formControlName="dplace" />
                </div>
              </div>
            </div>

            <mat-action-row>
              <button mat-button color="" (click)="prevStep()">

              </button>
              <button mat-button color="primary" (click)="nextStep()">
                Next
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          <br />
          <!-- Surveyee Details -->
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Surveyee:</h5>
              </mat-panel-title>
              <mat-panel-description>
                <em>
                  Please enter the identification details of the surveyee
                  here</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="group-gap">
              <!-- Surveyee name -->
              <div class="container">
                <div class="row">
                  <div class="col col- col-sm-12">
                    <label>Name:</label>
                    <input type="text" class="form-control" formControlName="pname" />
                  </div>

                  <!-- Age -->
                  <div class="col col- col-sm-4">
                    <label>Age:</label>
                    <input type="text" class="form-control" formControlName="pge" />
                  </div>

                  <!-- Aadhar -->
                  <div class="col col- col-sm-8">
                    <label>Aadhar no:</label>
                    <input type="text" class="form-control" formControlName="padhr" />
                  </div>
                  <!-- Housename -->
                  <div class="col col- col-sm-12">
                    <label>Housename:</label>
                    <input type="text" class="form-control" formControlName="phname" />
                  </div>
                  <!-- ward -->
                  <div class="col col- col-sm-6">
                    <label>Ward:</label>
                    <input type="text" class="form-control" formControlName="pward" />
                  </div>

                  <!-- Panchayath -->
                  <div class="col col- col-sm-6">
                    <label>Panchayath:</label>
                    <input type="text" class="form-control" formControlName="ppnchyth" />
                  </div>
                  <!-- Thaluk -->
                  <div class="col col- col-sm-6">
                    <label>Thaluk:</label>
                    <input type="text" class="form-control" formControlName="pthlk" />
                  </div>
                  <!-- District -->
                  <div class="col col- col-sm-6">
                    <label>District:</label>
                    <input type="text" class="form-control" formControlName="pdstrct" />
                  </div>
                </div>
              </div>
            </div>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">
                Previous
              </button>
              <button mat-button color="primary" (click)="nextStep()">
                Next
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          <br />
          <!-- Surveyee Contact Details -->
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Contact Details:</h5>
              </mat-panel-title>
              <mat-panel-description>
                <em>
                  Please enter the contact details of the surveyee here</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="group-gap">
              <!-- Mobile no: -->
              <div class="container">
                <div class="row">
                  <div class="col col- col-sm-4">
                    <label>Mobile no:</label>
                    <input type="text" class="form-control" formControlName="pmob" />
                  </div>
                  <!-- EmailID -->
                  <div class="col col- col-sm-8">
                    <label>Email:</label>
                    <input type="text" class="form-control" formControlName="pmail" />
                  </div>
                </div>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">
                Previous
              </button>
              <button mat-button color="primary" (click)="nextStep()">
                Next
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          <br />

          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Casualities:</h5>
              </mat-panel-title>
              <mat-panel-description>
                <em> Please enter the details of casualities if any, here</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Add Children-->
            <div class="group-gap">
              <ng-container *ngFor="
                  let item of surveyForm.controls['casualities'].controls;
                  let i = index
                ">
                <div [formGroup]="item">
                  <div class="container">
                    <div class="row">
                      <div class="col col- col-sm-6">
                        <mat-form-field>
                          <mat-label>status</mat-label>
                          <mat-select [value]="['casStatus']" formControlName="casStatus">
                            <mat-option value="">select</mat-option>
                            <mat-option value="D">Deceased</mat-option>
                            <mat-option value="Injured">Injured</mat-option>
                            <mat-option value="Missing">Missing</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- Relation to casuality -->
                      <div class="col col- col-sm-6">
                        <label>Relation to casuality:</label>
                        <input type="text" class="form-control" formControlName="casRln" />
                      </div>
                      <div class="col col- col-sm-8">
                        <label>Name:</label>
                        <input type="text" class="form-control" formControlName="casName" />
                      </div>
                      <div class="col col- col-sm-4">
                        <label>Age:</label>
                        <input type="text" class="form-control" formControlName="casAge" />
                      </div>


                    </div>
                  </div>
                </div>
                <br />

                <div class="col col- col-sm-8">
                  <button mat-stroked-button color="warn" (click)="removeCasualityControl(i)">
                    Remove Entry
                  </button>
                </div>
                <div class="col col- col-sm-12">
                  <hr />
                </div>
              </ng-container>
            </div>
            <mat-action-row>
              <button mat-button color="primary" (click)="addChildrenCasuality()">
                Add Entry
              </button>

              <div>
                <button mat-button color="warn" (click)="prevStep()">
                  Previous
                </button>
                <button mat-button color="primary" (click)="nextStep()">
                  Next
                </button>
              </div>
            </mat-action-row>
          </mat-expansion-panel>
          <br />
          <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Assets Damages:</h5>
              </mat-panel-title>
              <mat-panel-description>
                <em> Please enter the details of damages to fixed assets here</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Add Children-->
            <div class="group-gap">
              <ng-container *ngFor="
                    let item of surveyForm.controls['assets'].controls;
                    let i = index
                  ">
                <div [formGroup]="item">
                  <div class="container">
                    <div class="row">
                      <!-- Asset type -->
                      <div class="col col- col-sm-6">
                        <mat-form-field>
                          <mat-label>Asset Type</mat-label>
                          <mat-select [value]="['astTyp']" formControlName="astTyp">
                            <mat-option value="">select</mat-option>
                            <mat-option value="house">House</mat-option>
                            <mat-option value="building">Building</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- Damage Status -->
                      <div class="col col- col-sm-6">
                        <mat-form-field>
                          <mat-label>Asset Damage Status</mat-label>
                          <mat-select [value]="['astStatus']" formControlName="astStatus">
                            <mat-option value="">select</mat-option>
                            <mat-option value="Mild">Mild</mat-option>
                            <mat-option value="Total">Total Damage</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <!-- Details of buildings -->
                      <div class="col col- col-sm-6">
                        <label>Building number</label>
                        <input type="text" class="form-control" formControlName="astBldno" />
                      </div>
                      <div class="col col- col-sm-6">
                        <label>Area in square feet</label>
                        <input type="text" class="form-control" formControlName="astArea" />
                      </div>



                    </div>
                  </div>
                </div>
                <br />

                <div class="col col- col-sm-8">
                  <button mat-stroked-button color="warn" (click)="removeAssetControl(i)">
                    Remove Entry
                  </button>
                </div>
                <div class="col col- col-sm-12">
                  <hr />
                </div>
              </ng-container>
            </div>
            <mat-action-row>
              <button mat-button color="primary" (click)="addChildrenAsset()">
                Add Entry
              </button>

              <div>
                <button mat-button color="warn" (click)="prevStep()">
                  Previous
                </button>
                <button mat-button color="primary" (click)="nextStep()">
                  Next
                </button>
              </div>
            </mat-action-row>
          </mat-expansion-panel>
          <br />



          <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Vehicle Damages:</h5>
              </mat-panel-title>
              <mat-panel-description>
                <em> Please enter the details of damages to vehicles here</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Add Children-->
            <div class="group-gap">
              <ng-container *ngFor="
                      let item of surveyForm.controls['vehicles'].controls;
                      let i = index
                    ">
                <div [formGroup]="item">
                  <div class="container">
                    <div class="row">
                      <!-- Asset type -->
                      <div class="col col- col-sm-6">
                        <mat-form-field>
                          <mat-label>Vehicle Type</mat-label>
                          <mat-select [value]="['vhlTyp']" formControlName="vhlTyp">
                            <mat-option value="">select</mat-option>
                            <mat-option value="Two-wheeler">Two-wheeler</mat-option>
                            <mat-option value="Four-wheeler">Four-wheeler</mat-option>
                            <mat-option value="Heavy Vehicle">Heavy Vehicle</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- Damage Status -->
                      <div class="col col- col-sm-6">
                        <mat-form-field>
                          <mat-label>Vehicle Damage Status</mat-label>
                          <mat-select [value]="['vhlStatus']" formControlName="vhlStatus">
                            <mat-option value="">select</mat-option>
                            <mat-option value="Mild">Mild</mat-option>
                            <mat-option value="Total">Total Damage</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <!-- Make & Model of Vehicles -->
                      <div class="col col- col-sm-6">
                        <label>Make</label>
                        <input type="text" class="form-control" formControlName="vhlMake" />
                      </div>
                      <div class="col col- col-sm-6">
                        <label>Model</label>
                        <input type="text" class="form-control" formControlName="vhlMdl" />
                      </div>
                      <!-- No. & Insurance no. of Vehicles -->
                      <div class="col col- col-sm-6">
                        <label>Registration number</label>
                        <input type="text" class="form-control" formControlName="vhlNo" />
                      </div>
                      <div class="col col- col-sm-6">
                        <label>Insurance number</label>
                        <input type="text" class="form-control" formControlName="vhlIns" />
                      </div>


                    </div>
                  </div>
                </div>
                <br />

                <div class="col col- col-sm-8">
                  <button mat-stroked-button color="warn" (click)="removeVehicleControl(i)">
                    Remove Entry
                  </button>
                </div>
                <div class="col col- col-sm-12">
                  <hr />
                </div>
              </ng-container>
            </div>
            <mat-action-row>
              <button mat-button color="primary" (click)="addChildrenVehicle()">
                Add Entry
              </button>

              <div>
                <button mat-button color="warn" (click)="prevStep()">
                  Previous
                </button>
                <button mat-button color="primary" (click)="nextStep()">
                  Next
                </button>
              </div>
            </mat-action-row>
          </mat-expansion-panel>
          <br />


          <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5>Comments:</h5>
              </mat-panel-title>
              <mat-panel-description>
                <em>
                  Please enter your comments if any, here</em></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container">
              <div class="row">
                <!-- Surveyor name -->
                <div class="col col- col-sm-12">
                  <label></label>
                  <textarea matInput class="form-control" formControlName="cmnts"
                    placeholder="Leave a comment"></textarea>
                </div>

              </div>
            </div>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">
                Previous
              </button>
              <button mat-button color="primary" (click)="nextStep()">
                Done
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          <br />


          <button (click)="onSubmit(f)" class="btn btn-success btn-lg btn-block">
            Submit
          </button>

        </mat-accordion>
      </form>
      <br /><br />
    </div>
    <div class="col col-12 col-sm-2"></div>

  </div><br><br>
</div>
