.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form-field {
  width: 200px;
}


.page-break {
  page-break-after: always;
  page-break-inside: avoid;
  clear:both;
}
.page-break-before {
  page-break-before: always;
  page-break-inside: avoid;
  clear:both;
}
#result{
  position: absolute;
  left: 20px; 
  top: 50px;
  bottom: 0;
  overflow: auto;
  width: 600px;
}
