<nav class="navbar navbar-fixed-top navbar-expand-sm bg-primary navbar-dark">
  <div class="container">
    <a class="navbar-brand"><b>POST DISASTER SURVEY & ASSESSMENT</b></a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="/survey">Survey Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminPanel">Admin Panel</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
