
<main>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/adminPanel">AdminPanel</a></li>
                    <li class="breadcrumb-item active">Statistics</li>
                </ol>
                <div class="jumbotron">
                    <h1>Survey Statistics</h1>
                    <p>An overview of the statistical analysis of data collected from the survey.</p>
                </div>
                <router-outlet></router-outlet>
            </div>
            <router-outlet name="sidemenu"></router-outlet>
        </div>
    </div>
</main>
